a:hover {
  text-decoration: none;
}

body {
  font-family: Hind;
  font-weight: 500;
  background-color: #4B644A;
}

h1 {
  font-size: 72px;
  font-weight: 600;
  color: #FBFFFE;
  line-height: 150%;
}

h2 {
  color: #FAA916;
  font-size: 48px;
}

h3 {
  color: #FAA916;
  text-align: center;
  border-bottom: 3px solid white;
}

.navbar {
  background-color: #FAA916;
}

.navbar-header {
  float: none;
  text-align: center;
}

.beer-desc, .submitBeer {
  color: #FBFFFE;
  font-size: 18px;
}

.beer-holder {
  margin: 25px 0 0 0;
}

.beer-image {
  margin: 140px 0 0 35px;
}

.circle {
  border-radius: 50%;
  width: 600px;
  height: 600px;
  background-color: #FBFFFE;
  border: 15px solid #FAA916;
}

.circle-choice {
  border-radius: 50%;
  width: 250px;
  height: 250px;
  background-color: #FBFFFE;
  border: 15px solid #FAA916;
  -webkit-transition-duration: 1s;
  transition-duration: 1s;
}

.circle-choice:hover {
  background-color: #8C1C13;
  color: #FBFFFE;
  cursor: pointer;
}

.headline {
  padding: 100px 0 50px 0;
  margin: 0 0 0 50px;
}

.image-holder {
  margin-top: 100px;
}

.info-text {
  font-size: 24px;
}

.navbar-brand {
  margin-top: 30px;
}

.start {
  width: 80%;
  background-color: #FAA916;
  color: #FBFFFE;
  font-size: 48px;
  margin: 0 0 0 85px;
  -webkit-transition-duration: 0.4s;
  transition-duration: 0.4s;
}

.start:hover {
  background-color: #8C1C13;
  color: #FBFFFE;
}

#ale-image, #lager-image, #stout-image {
  height: 100%;
}

#logo {
  font-family: Lobster;
  font-size: 72px;
  color: #FBFFFE;
  margin: 0 auto;
}

